.archives-container {
    .tab-content-section {
        min-height: 570px;
        @media all and (max-width: 991px) {
            padding-top: 50px;
            min-height: 660px;
        }
        .tab {
            float: left;
            text-align: center;
            @media all and (max-width: 990px) {
                float: none;
                display: flex;
            }
            @media all and (max-width: 600px) {
                display: block;
                text-align: left;
            }
            button {
                display: block;
                text-align: left;
                text-indent: 90px;
                text-transform: capitalize;
                color: black;
                font-family: Roboto-Rg;
                padding: 40px 16px;
                box-shadow: 0px 0px 34px 0px #cacaca;
                width: 300px;
                transition: 0.3s;
                font-size: 24px;
                margin-bottom: 40px;
                position: relative;
                opacity: 0.5;
                background-color: #fff;
                background-repeat: no-repeat;
                background-position: 40px 50%;
                @media all and (max-width: 1025px) {
                    background-size: 10% !important;
                    padding: 30px 16px;
                    font-size: 22px;
                }
                @media all and (max-width: 990px) {
                    display: inline-block;
                    width: 32%;
                    margin-right: 10px;
                 
                    padding: 20px 10px;
                    margin-bottom: 20px;
                    font-size: 18px;
                    text-indent: 70px;
                }
                @media all and (max-width: 700px) {
                    background-position: 20px 50%;
                    text-indent: 35px;
                }
                @media all and (max-width: 600px) {
                    width: 320px;
                    text-indent: 70px;
                }
                &::before {
                    border-style: solid;
                    border-width: 0.09em 0.09em 0 0;
                    content: '';
                    display: inline-block;
                    height: 0.9em;
                    position: absolute;
                    top: 43%;
                    vertical-align: top;
                    width: 0.9em;
                    right: 30px;
                    transform: rotate(45deg);
                    font-size: 17px;
                    @media all and (max-width: 990px) {
                        font-size: 15px;
                        top: 27%;
                        right: 20px;
                        transform: rotate(135deg);
                    }
                    @media all and (max-width: 700px) {
                        font-size: 13px;
                        top: 34%;
                    }
                }
                &.form {
                    background-image: url(../images/list.png);
                }
                &.download {
                    background-image: url(../images/download-icon.png);
                }
                &.links {
                    background-image: url(../images/link.png);
                }
                &.active {
                    opacity: 1;
                }
            }
        }
        .tabcontent {
            float: left;
            padding: 20px 0 0 100px;
            width: 70%;
            border-left: none;
            color: #747474;
            @media all and (max-width: 1040px) {
                padding: 20px 0 0 50px;
                width: 68%;
            }
            @media all and (max-width: 990px) {
                float: none;
                padding: 20px 0 0 0;
                width: 70%;
            }
            @media all and (max-width: 768px) {
                width: 100%;
            }
            .tab-title {
                h2 {
                    font-family: Roboto-Bd !important;
                    font-size: 30px;
                    display: inline-block;
                    padding-bottom: 20px;
                    margin-bottom: 30px;
                    width: 200px;
                    color: black;
                    border-bottom: 1px solid #acacac;
                    @media all and (max-width: 990px) {
                        font-size: 24px;
                        padding-bottom: 15px;
                        margin-bottom: 25px;
                    }
                }
            }
            .form-content,
            .tab-desc {
                p {
                    font-family: Roboto-Rg;
                    font-size: 15px;
                    line-height: 20px;
                    margin-bottom: 20px;
                }
            }
            .form-listing-wrapper,
            .download-listing-wrapper,
            .links-listing-wrapper {
                max-width: 550px;
                @media all and (max-width: 768px) {
                    max-width: none;
                }
            }
            
            .forms-wrapper {
                margin-bottom: 70px;
                .form-block {
                    margin-bottom: 20px;
                    .form-title {
                        h2 {
                            font-family: Roboto-Md;
                            text-transform: capitalize;
                            font-size: 20px;
                            margin-bottom: 20px;
                        }
                    }
                    .form-download {
                        a {
                            font-family: Roboto-Rg;
                            font-size: 15px;
                            color: #709ec2;
                        }
                    }
                }
            }
            .downloads-wrapper {
                display: flex;
                flex-wrap: wrap;
                @media all and (max-width: 991px) {
                   padding-bottom: 40px;
                }
                .download-block {
                    flex-grow: 0;
                    position: relative;
                    margin-bottom: 20px;
                    margin-right: 20px;
                    .download-image {}
                    .download-file {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        a {
                            display: flex;
                            justify-content: flex-end;
                            flex-direction: column;
                            width: 100%;
                            height: 100%;
                            color: white;
                            text-align: center;
                            padding-bottom: 5px;
                            h2 {
                                display: block;
                                font-size: 18px;
                                font-family: Roboto-Md;
                                text-transform: capitalize;
                            }
                            span {
                                display: block;
                                font-size: 12px;
                                font-family: Roboto-Lt;
                                opacity: 0;
                                @media all and (max-width: 1024px) {
                                    opacity: 1;
                                }
                            }
                            &:hover {
                                span {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            .link-wrapper {
                .link-block {
                    a {
                        font-size: 26px;
                        font-family: Roboto-Md;
                        color: black;
                        display: block;
                        text-transform: capitalize;
                        background: url(../images/right-arrow.png) no-repeat right 62%;
                        padding-bottom: 15px;
                        padding-top: 25px;
                        border-bottom: 1px solid #bfbfbf;
                        @media all and (max-width: 768px) {
                            font-size: 20px;
                            background-size: 25px !important;
                            max-width: 400px;
                        }
                    }
                }
            }
        }
    }
}