.associates-wrapper {
    background: url(../images/associates_bg.png) no-repeat bottom;
    height: 600px;
    background-size: cover;
    clear: both;
    @media all and (max-width: 1024px) {
        height: auto;
    }
    .associates-container {
        padding-top: 50px;
        padding-bottom: 100px;
        display: flex;
        justify-content: space-between;
        @media all and (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 40px;
        }
        @media all and (max-width: 450px) {
            flex-direction: column;
            flex-wrap: nowrap; 
            justify-content:flex-start;
        }
        .associate-block {
            position: relative;
            @media all and (max-width: 768px) {
                flex-basis: 48%;
                margin-bottom: 10px;
            }
            @media all and (max-width: 450px) {
               flex-basis: 100%;
            }
            &:nth-child(2) {
               // margin: 10px 0;
                @media all and (min-width: 769px) {
                    margin: 0 10px;
                    position: relative;
                    top: -80px;
                }
            }
            .associate-image {
                position: relative;
                img {
                    width: 100%;
                    @media all and (min-width: 769px) {
                        max-width: 364px;
                        max-height: 399px;
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    background-image: linear-gradient(-45deg, #585858, #000000);
                    opacity: 0.2;
                }
            }
            .details-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 20px 20px 10px;
                .associate-title {
                    color: #fff;
                    font-size: 22px;
                    border-bottom: 1px solid #fff;
                    font-family: Roboto-Rg;
                    padding-right: 80px;
                    padding-bottom: 15px;
                    line-height: 28px;
                    @media all and (max-width: 1120px) {
                        padding-right: 40px;
                    }
                    @media all and (max-width: 1024px) {
                        font-size: 20px;
                        padding-right: 6%;
                    }
                    @media all and (max-width: 840px) {
                        font-size: 18px;
                        padding-right: 5%;
                    }
                    @media all and (max-width: 768px) {
                        font-size: 20px;
                        padding-right: 5%;
                        line-height: 22px;
                    }
                    @media all and (max-width: 650px) {
                        font-size: 18px;
                    }
                }
                .associate-link {
                    margin-top: 10px;
                    @media all and (max-width: 840px) {
                        margin-top: 5px;
                    }
                    a {
                        color: #fff;
                        font-size: 14px;
                        font-family: Roboto-Rg;
                        position: relative;
                        @media all and (max-width: 840px) {
                            font-size: 13px;
                        }
                        @media all and (max-width: 650px) {
                            font-size: 12px;
                        }
                        &:after {
                            //content: "\27F6";
                            content:"";
                            display: block;
                            background: url(../images/arrow.png) no-repeat 81% 45%;
                            background-size: 80%;
                            position: absolute;
                            top: -1px;
                            left: 90px;
                            width: 40px;
                            height: 19px;                                   
                            @media all and (max-width: 600px) {
                                background-size: 60%; 
                                left: 70px;
                            }
                        }
                    }
                }
            }
        }
    }
}