$primary-white: #fff;
$primary-black: #000;
$grey-text: #868686;
$blue-link: #060331;
$blue-link2: #0b045a;
$freight-blue: #1674ab;

.other-page-wrapper {
  .other-page-container {
    .faq-listing-wrapper, .checklist-listing-wrapper {
      margin-bottom: 100px;
      @media all and (max-width: 991px) {
        padding-top: 50px;
        margin-bottom: 70px;
      }
      @media all and (max-width: 478px) {
        padding-top: 30px;
        margin-bottom: 50px;
      }
    }
  }
}

.faq-panel-group {
  .faq-panel, .checklist-panel {
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: none;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
    .panel-heading {
     // padding: 15px 10px;
     padding: 0;
      border: none;
      .title {
        position: relative;
        //padding-right: 20px;
        a {
          display: block;
          font-size: 16px;
          line-height: 20px;
          font-family: "Roboto-Md";
          color: $primary-black;
          padding: 15px 10px;
          width: 100%;

          &:hover {
            color: $primary-black;
          }
          @media all and (max-width: 599px) {
            font-size: 14px;
          }
          &:after {
            position: absolute;
            right: 15px;
            top: 14px;
          }

          &.closed {
            &:after {
              content: "+";
              font-size: 25px;
            }
          }
          &.open {
            &:after {
              content: "-";
              font-size: 50px;
            }
          }
          @media all and (max-width: 768px) {
            &.closed {
              &:after {
                font-size: 18px;

              }
            }
            &.open {
              &:after {
                font-size: 35px;

              }
            }
          }
        }
      }
    }
    .panel-body {
      padding-bottom: 20px;
      p, li {
        @include content-desc;
        color: $grey-text;
        margin-bottom: 10px;
        img {
          min-width: 350px;
          width: 25%;
          margin-bottom: 10px;
          @media all and (max-width: 480px) {
            min-width: inherit;
            width: 100%;
          }
        }
      }
      ul {
        padding-left: 20px;
        margin-bottom: 20px;
      }
    }
  }
}

// Styling for incoterms page
.incoterms-wrapper {
  .incoterms-contents {
    .incoterms-definition {
      .title {
        @include content-second-title;
        margin-bottom: 15px;
      }
      .definition {
        @include content-desc;
        color: $grey-text;
        line-height: 26px;
      }
    }
    .download-section {
      flex-wrap: wrap;
      margin: 50px 0;
      @media all and (min-width: 850px) {
        display: -webkit-flex; /* Safari */
        -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
        display: flex;
        flex-direction: row-reverse;
      }
      @media all and (max-width: 991px) {
        margin: 30px 0;
      }
      .download-link {
        flex-basis: 40%;
        @media all and (max-width: 991px) {
          flex-basis: 45%;
        }
        @media all and (max-width: 849px) {
          padding: 50px 0;
          text-align: center;
        }
        @media all and (max-width: 599px) {
          padding: 30px 0;
        }
         a{
            background: #1673aa url(../images/download.png) no-repeat 90% 45%;
            border-radius: 50px;
            padding: 12px 70px 12px 30px;
            font-size: 14px;
            text-transform: none;
            font-family: Roboto-Lt;
            color: $primary-white;
            font-family: Roboto-Rg;
            @media all and (min-width: 850px) {
              position: relative;
              top: 45%;
              left: 20px;
            }
            @media all and (max-width: 991px) {
              padding: 10px 65px 10px 25px;
              background: #1673aa url(../images/download.png) no-repeat 93% 45%;
            }
            @media all and (max-width: 599px) {
              font-size: 12px;
              padding: 10px 50px 10px 20px;
            }
         }
      }
      .incoterm-pic {
        flex-basis: 60%;
        text-align: center;
        @media all and (max-width: 991px) {
          flex-basis: 55%;
        }
        @media all and (max-width: 849px) {
          img {
            max-width: 599px;
            width: 100%;
          }
        }
      }
    }
    .content {
      margin-bottom: 100px;
      @media all and (max-width: 991px) {
        margin-bottom: 80px;
      }
      @media all and (max-width: 767px) {
        margin-bottom: 50px;
      }
      p {
        @include content-desc;
        color: $grey-text;
        margin-bottom: 30px;
        @media all and (max-width: 767px) {
          margin-bottom: 20px;
        }
        strong {
          font-family: Roboto-Md;
          color: $primary-black;
        }
      }
    }
  }
}
