$primary-white: #fff;
$primary-black: #000;
$grey-text: #868686;
$blue-link: #060331;
$blue-link2: #0b045a;
$freight-blue: #1674ab;

.faq-wrapper {
  .faq-container {
    .faq-listing-wrapper {
        margin-bottom: 100px;
        @media all and (max-width: 991px) {
          padding-top: 50px;
          margin-bottom: 70px;
        }
        @media all and (max-width: 478px) {
          padding-top: 30px;
          margin-bottom: 50px;
        }
        .faq-panel-group {
          .faq-panel {
            margin-bottom: 0;
            border-radius: 0;
            border-bottom: none;
            &:last-child {
              border-bottom: 1px solid #ddd;
            }
            .panel-heading {
              padding: 15px 10px;
              border: none;
              .title {
                a {
                  font-size: 16px;
                  line-height: 20px;
                  font-family: "Roboto-Md";
                  color: $primary-black;
                  &:hover {
                    color: $primary-black;
                  }
                  @media all and (max-width: 599px) {
                    font-size: 14px;
                  }
                  &.open {
                    &:after {
                      content: "+";
                    }
                  }
                  &.closed {
                    &:after {
                      content: "-";
                    }
                  }
                }
              }
            }
            .panel-body {
              padding-bottom: 20px;
              p {
                @include content-desc;
                color: $grey-text;
                margin-bottom: 10px;
              }
            }
          }
        }
    }
  }
}
