$primary-white: #fff;

footer {
  padding: 0 !important;
  // background-image: url('../images/footer.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  background: #005a8e;
  .border-bot {
    width: 100%;
    border-bottom: solid 2px #1673aa;
    -moz-box-shadow: 0px 2px 0px #0e4f76;
    -webkit-box-shadow:  0px 2px 0px #0e4f76;
    box-shadow:  0px 2px 0px #0e4f76;
  }

  .footer-container {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 100%;
    position: relative;

    @media all and (max-width: 780px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .footer-map {
      @media (min-width: 780px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }

      iframe {
        width: 100%;
        margin-bottom: 60px;
        height: 260px;
      }
    }

    .footer-top {
      display: flex;
      justify-content: space-between;
      min-height: 220px;
      //margin-bottom: 20px;

      @media all and (max-width: 780px) {
        //display: block;
        flex-direction: column;
        text-align: center;
        margin-bottom: 30px;
        clear: both;
        overflow: hidden;
        min-height: none;
      }

      div[class^="footer-column-"] {
        color: $primary-white;
        font-size: 18px;
        font-family: Roboto-Rg !important;
        @media all and (max-width: 1200px) {
          font-size: 16px;
        }
        .menu-name {
          font-family: Roboto-Bd;
          text-transform: uppercase;
        }

        .footer-navigation {
          padding-top: 15px;
          ul {
            list-style: none;
            margin: 0;

            li {
              line-height: 35px;

              a {
                color: $primary-white;
                //font-size: 14px;
                font-size: 18px;
                font-family: Roboto-Lt;
                @media all and (max-width: 1200px) {
                  font-size: 16px;
                }
              }
            }
          }
        }

        .contactNumber-block {
          font-family: Roboto-Rg;

          span {
            display: block;
            font-family: Roboto-Bd;
            margin-bottom: 10px;
          }

          p {
            font-size: 13px;
            background-color: rgba(0, 0, 0, 0.3);
            border: 1px solid rgba(256, 256, 256, 0.5);
            color: rgba(256, 256, 256, 0.8);
            border-radius: 10px;
            margin: 0 0 10px;
            padding: 6px 15px;
            max-width: 190px;
            letter-spacing: 1px;
            @media all and (max-width: 599px) {
            max-width: 100%;
            }
          }

          .fax {
            margin-top: 20px;
          }
        }

        .add-label {
          font-family: Roboto-Bd;
          margin-bottom: 10px;
        }

        .address {
          // width: 200px;
          line-height: 25px;
          font-family: Roboto-Lt;
        }
      }

      .footer-column-1 {
        flex-basis: 20%;
        img {
          max-width: 75%;
        }
        @media all and (max-width: 910px) {
          flex-basis: 25%;
          }
        @media all and (max-width: 780px) {
          //  flex-basis: 35%;
          margin-bottom: 20px;
          img{
            max-width:150px ;
          }  
        }       
        p {
          width: 65%;
          margin-top: 15px;

          @media all and (max-width: 1024px) {
            width: 75%;
          }

          @media all and (max-width: 991px) {
            width: 90%;
          }

          @media all and (max-width: 780px) {
            width: 100%;
          }
        }
        .social-menu {
          //float: left;
          padding-top: 50px;
          @media all and (max-width: 780px) {
            float: none;
          }
  
          .social-navigation {
            @media all and (max-width: 780px) {
              margin-bottom: 0;
            }
            .menu-social-menu-container {
              ul {
                @media all and (max-width: 780px) {
                  display: flex;
                  justify-content: center;
                  margin-left: 25px;
                }
                li {
                  float: left !important;
  
                  a {
                    border: none;
  
                    &:before {
                      font-size: 24px;
                      color: $primary-white;
                    }
                  }
                }
              }
            }

            a[href*="instagram.com"]:before {
              content:'';
              background: url(../images/instagram.png) no-repeat ;
            }
            a[href*="linkedin.com"]:before {
              content:'';
              background: url(../images/linkedin.png) no-repeat ;
            }
            a[href*="facebook.com"]:before {
              content:'';
              background: url(../images/facebook.png) no-repeat ;
            }
          }
        }
        .copyright {
          clear: both;
          overflow: hidden;
          font-family: Roboto-Rg;
          color: $primary-white;
          font-size: 14px;
          margin-top: 10px;
          background-image: url(../images/Copyright_white.png);
          background-size: 14px;
          background-repeat: no-repeat;
          padding-left: 18px;
          background-position-y: 5px;
  
          @media all and (max-width: 780px) {
            max-width: 170px;
            margin: 0 auto;
          }
        }
      }

      .footer-column-2 {
        flex-basis: 20%;
        @media all and (max-width: 910px) {
          flex-basis: 25%;
        }

        // @media all and (max-width: 1300px) {
        // flex-basis: 190px;
        // }

        @media all and (max-width: 780px) {
          width: 100%;
          //float: left;
        }

        // @media all and (max-width: 599px) {
        //   width: 100%;

        // }
      }

      .footer-column-3 {
        flex-basis: 20%;
        @media all and (max-width: 910px) {
          flex-basis: 25%;
          }
        // @media all and (max-width: 1200px) {
        //   flex-basis: 13%;
        //   }
        // @media all and (max-width: 991px) {
        //   //flex-basis: 23%;
        // }

        @media all and (max-width: 780px) {
          width: 100%;
          padding-top: 20px;
          //float: left;
        }

        // @media all and (max-width: 599px) {
        //   width: 50%;
        //   margin-top: 15px;
        // }
        // @media all and (max-width: 500px) {
        //   padding-right: 15px;
        // }
      }

      .footer-column-4 {
        flex-basis: 20%;
        @media all and (max-width: 910px) {
          flex-basis: 25%;
          }
        .phone-block {
          span {
            font-family: 'Roboto-Bd';
            text-transform: uppercase;
            img {
              padding-bottom: 5px;
              margin-right: 5px;
              height: 33px;
            }
          }
          p {
            font-family: 'Roboto-Lt';
            margin-top: 15px;
            @media all and (max-width: 780px) {
              //margin-top: 0;
              margin-bottom: 10px;
            }
          }
        }

        @media all and (max-width: 780px) {
          width: 100%;
          padding-top: 20px;
          //float: left;
        }

        // @media all and (max-width: 599px) {
        //   width: 50%;
        //   margin-top: 15px;
        // }
      }

      .footer-column-5 {
        flex-basis: 15%; 
        @media all and (max-width: 910px) {
          flex-basis: 20%;
          }
        .fax-block {
          span {
            font-family: 'Roboto-Bd';
            text-transform: uppercase;
            img {
              padding-bottom: 5px;
              margin-right: 5px;
              height: 33px;
            }
          }
          p {
            font-family: 'Roboto-Lt';
            margin-top: 15px;
            @media all and (max-width: 780px) {
              //margin-top: 0;
              margin-bottom: 10px;
            }
          }
        }
        @media all and (max-width: 780px) {
          clear: both;
          width: 100%;
          float: left;
          padding-top: 20px;
        }
        // @media all and (max-width: 500px) {
        //   padding-right: 15px;
        // }
 
      }
      // .footer-column-6 {
      //   flex-basis: auto;
     
      //   @media all and (max-width: 780px) {
      //     width: 50%;
      //     float: left;
      //     padding-top: 20px;
      //   }

       
      // }
    }

    .footer-bottom {
      clear: both;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      // position: absolute;
      // bottom: 40px;
      // left: 0;

      // @media all and (max-width: 1330px) {
      //   padding-left: 20px;
      // }
      // @media all and (max-width: 1100px) {
      //   bottom: 20px;
      // }

      @media all and (max-width: 780px) {
        flex-direction: column;
        text-align: center;
      }

      // .social-menu {
      //   float: left;
      //   @media all and (max-width: 780px) {
      //     float: none;
      //   }

      //   .social-navigation {
      //     @media all and (max-width: 780px) {
      //       margin-bottom: 0;
      //     }
      //     .menu-social-menu-container {
      //       ul {
      //         @media all and (max-width: 780px) {
      //           display: flex;
      //           justify-content: center;
      //         }
      //         li {
      //           float: left !important;

      //           a {
      //             border: none;

      //             &:before {
      //               font-size: 24px;
      //               color: $primary-white;
      //             }
      //           }
      //         }
      //       }
      //     }
      //   }

      // }

      .visitors-count {
        float: right;
        display: grid;
        text-align: right;

        #adswsc_block {
          display: block;
          border-radius: 3px;
          background-color: $primary-white;
          text-align: right;
          padding: 2px 0 2px 7px;
          min-width: 100px;

          #adswsc_countertext {
            color: black;
            letter-spacing: 7px;
            font-size: 16px;
            font-family: Roboto-Lt;

            @media all and (max-width: 780px) {
              font-size: 14px;
            }
          }
        }

        .visitor-date {
          color: $primary-white;
          font-size: 10px;
          margin-top: 2px;
          font-family: Roboto-Rg;

          @media all and (max-width: 780px) {
            font-size: 9px;
          }
        }
      }

      div[class^="footer-column-"] {
        color: $primary-white;
        font-size: 15px;
        font-family: Roboto-Rg !important;
        // @media all and (max-width: 1200px) {
        //   font-size: 16px;
        // }

        .footer-navigation {
          ul {
            list-style: none;
            margin: 0;

            li {
              line-height: 40px;
              display: inline-block;
              padding-right: 5px;
              text-transform: capitalize;
              @media all and (max-width: 780px) {
                display: block;
              }
              &:last-child {
                a {
                  &::after {
                    display: none;
                  }
                }
              }

              a {
                color: $primary-white;
                //font-size: 14px;
                font-size: 15px;
                font-family: Roboto-Lt;
                text-decoration: underline;
                &:after{
                  content: "";
                  display: inline-block;
                  border-right: 1px solid white;
                  width: 1px;
                  height: 17px;
                  vertical-align: middle;
                  padding-right: 5px;
                  @media all and (max-width: 780px) {
                      display: none;
                  }
              }
                // @media all and (max-width: 1200px) {
                //   font-size: 16px;
                // }
              }
            }
          }
        }

        .add-label {
          font-family: Roboto-Bd;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        .address {
          // width: 200px;
          line-height: 40px;
          font-family: Roboto-Lt;
          @media all and (max-width: 780px) {
            line-height: 20px;
          }
        }
      }

      .footer-column-1 {
        flex-basis: 35%;
        .menu-name {
          font-family: Roboto-Bd;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
      }
      .footer-column-2 {
        flex-basis: 28%;
        @media all and (max-width: 780px) {
          padding-top: 20px;
        }
        div br {
          display: none;
        }
      }

      .footer-column-3 {
        flex-basis: 20%;
        @media all and (max-width: 780px) {
          padding-top: 20px;
        }
        div br {
          display: none;
        }
      }




      // .copyright {
      //   clear: both;
      //   overflow: hidden;
      //   font-family: Roboto-Rg;
      //   color: $primary-white;
      //   font-size: 14px;
      //   margin-top: 10px;
      //   background-image: url(../images/Copyright_white.png);
      //   background-size: 14px;
      //   background-repeat: no-repeat;
      //   padding-left: 18px;
      //   background-position-y: 5px;

      //   @media all and (max-width: 780px) {
      //     max-width: 170px;
      //     margin: 0 auto;
      //   }
      // }
    }
  }
}