.testimonial{
    .testimonial__blocks{
        .testimonial__block{
            margin: 0 15px;
            .testimonial__review {
                background: #758ea7;
                padding: 25px;
                position: relative;
            }
        }
    }
}