.about-us{
    //padding:140px 0 50px 0;
    @media all and (max-width: 1024px) {
        padding:50px 0 50px 0;  
    }
    h2{
        color: $primary-black;
        font-size: 16px;
        font-family: Roboto-Md;
        font-weight: 400;
        line-height: 1.2;  
        margin: 0;
    }
    .about-us-wrapper{
        //to place the section on the banner
        position: relative;
        top: -50px;
        width: 100%;
        height: 100%;
        @media all and (max-width: 1024px) {
            position: static;
        }
    }
    .block-container{
        display: grid;
        grid-template-columns: 3fr 9fr;
        @media all and (max-width: 990px) {
           display: block;
        }
        .about-us__left{
            display: grid;
            padding: 20px;
            -webkit-box-shadow: -2px -2px 12px 0px rgba(133, 133, 133, 0.81);
            box-shadow: -2px -2px 12px 0px rgba(133, 133, 133, 0.81);
            margin-right: 3px;
            background-color: white;
            @media all and (min-width: 991px) {
                margin-right: 10px;
                margin-bottom: 5px;
             }
            .about-title{
                h2{
                    padding: 20px 0;
                }
            }
            .about-desc{
                p{
                    line-height: 22px;
                    color: #6f6f6f;
                    font-size: 14px;
                    font-family: Roboto-Rg;
                
                }
            }
            .about-read-more{
                a{
                    font-size: 14px;
                    font-family: Roboto-Rg;
                    color: #0b045a;
                    text-decoration: none; 
                    text-transform: capitalize;
                }
            }
        }
        .about-us__right{
            text-align: left;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 5px;  
            @media all and (max-width: 990px) {
                grid-template-columns: repeat(2,1fr);
            }
            @media all and (max-width: 469px) {
                grid-template-columns: repeat(1,1fr);
            }
            .about-us__right__block{
                margin-right: 5px ;
                margin-bottom:5px;
                min-height: 230px;
                position: relative;
                background-color: white;
                -webkit-box-shadow: -2px -2px 12px 0px rgba(133, 133, 133, 0.81);
                box-shadow: -2px -2px 12px 0px rgba(133, 133, 133, 0.81);
                .about-us__right__head{
                    text-align: center;
                    position: relative;
                    .about-us__right__block--logo{
                        padding: 35px 20px 35px 20px;
                    }
                    .about-us__right__block--title{
                        width: 135px;
                        margin: 0 auto;
                        h2{
                            display: block;
                            margin: 0 auto;   
                        } 
                    }
                }
                .about-us__right_overlay{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    padding: 20px;
                    div {
                        line-height: 22px;
                        color: #6f6f6f;
                        font-size: 14px;
                        font-family: Roboto-Rg; 
                 
                    }
                    .about-us__right_learn-more {
                        border-top: 2px solid #e0e0e0;
                        padding:10px 0;
                        position: relative;
                        -webkit-transform: translate3d(0, 140px, 0);
                        transform: translate3d(0, 140px, 0);
                        -webkit-transition: -webkit-transform 0.35s;
                        transition: transform 0.35s;
                        h2 {
                            display: none;
                        }
                        @media all and (max-width: 1100px) {
                            -webkit-transform: translate3d(0, 130px, 0);
                            transform: translate3d(0, 130px, 0);
                        }
                        @media all and (max-width: 550px) {
                            -webkit-transform: translate3d(0, 110px, 0);
                            transform: translate3d(0, 130px, 0);
                        }
                        @media all and (max-width: 469px) {
                            -webkit-transform: translate3d(0, 140px, 0);
                            transform: translate3d(0, 145px, 0);
                        }
                        @media all and (max-width: 400px) {
                            -webkit-transform: translate3d(0, 140px, 0);
                            transform: translate3d(0, 135px, 0);
                        }
                        span{
                            &:after{
                                content: " ";
                                background: url(../images/Arrow-Down-icon.png) no-repeat;
                                width: 30px;
                                height: 10px;
                                position: absolute;
                                right: 0;
                                top: 18px;
                            }
                        }
    
                    }
                    .about-us__right_des {
                        opacity: 0;
                        -webkit-transform: translate3d(0, 40px, 0);
                        transform: translate3d(0, 40px, 0);
                        -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
                        transition: opacity 0.2s, transform 0.35s;
                        p{
                            display: -webkit-box;
                            height: 91.2px;
                            margin-bottom: 10%;
                            line-height: 22px;
                            -webkit-line-clamp: 4;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: $primary-black;
                            font-size: 14px;
                            font-family: Roboto-Rg;
                        }
                    }
                }
                &.active {
                    .about-us__right_overlay {
                        background-color: #fff;
                        justify-content: flex-start;
                        div{
                            color: #060606;
                        }
                        .about-us__right_learn-more {
                            -webkit-transition-delay: 0.05s;
                            transition-delay: 0.05s;
                            -webkit-transition-duration: 0.35s;
                            transition-duration: 0.35s;
                            -webkit-transform: translate3d(0, 0, 0);
                            border-top:none;
                            p{
                                display: block;
                                font-size: 16px;
                            }
                            span {
                                    display: none;
                            }
                        }
                        .about-us__right_learn-more  {
                            margin-bottom: 20px;
                            &:after {
                                display: none;
                            }
                            h2{
                                display: block;
                            }
                        }
                        .about-us__right_des{
                            opacity: 1;
                            -webkit-transition-delay: 0.2s;
                            transition-delay: 0.2s;
                            -webkit-transition-duration: 0.35s;
                            transition-duration: 0.35s;
                            -webkit-transform: translate3d(0, 0, 0);
                        }
                    }
                }
       
            }
           
        }
    }
   
}
