//Common styling of inner page banner having similar style //
//Service banner, About Us banner section, Careers Page, News events page, Contact page, faq page //
.service-banner,
.about-banner,
.careers-banner,
.news-events-banner,
.contact-banner,
.faq-banner,
.checklist-banner,
.archives-banner,
.incoterms-banner {
    position: relative;
    margin-bottom: 175px;
    @media all and (min-width: 992px) {
        margin-bottom: 60px;
    }
    &__image {
        @media all and (min-width: 992px) {
            // -ms-transform: skewY(-10deg);
            // -webkit-transform: skewY(-10deg);
            // transform: skewY(-10deg);
            // margin-top: -182px;
            margin-top: -20px;
            //clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%)
        }
        img {
            width: 100%;
            height: 100vh;
           // height: 700px;
            object-fit: cover;
            object-position: top;
            @media all and (max-width: 1330px) {
                height: 536px;
            }
            @media all and (max-width: 991px) {
                height: 400px;
            }
        }
    }
    &__image:after {
        content: "";
        display: block;
        //background-image: linear-gradient(-45deg, #003c5e, #0070b0);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0.7;
    }
    &__image.no-overlay:after {
      background-image: none;
    }
    //For About-us Page Font-size Increased
    &__subtitle {
        color: #fff;
        font-size: 20px;
        font-family: Roboto-Rg;
        max-width: 700px;
        @media all and (max-width: 840px) {
            font-size: 16px;
        }
        @media all and (max-width: 991px) {
            margin: 0 auto;
            text-align: center;
        }
        @media all and (max-width: 500px) {
            width: 100%;
        }
    }
    &__title {
        color: #fff;
        font-size: 47px;
        font-family: Roboto-Bd;
        width: 550px;
        line-height: 70px;
        letter-spacing: 1px;
        padding-left: 20px;
        @media all and (max-width: 991px) {
            font-size: 30px;
            line-height: 50px;
            width: 400px;
            margin: 0 auto;
            text-align: center;
        }
        @media all and (max-width: 500px) {
            width: 100%;
            font-size: 22px;
            line-height: 30px;
            padding-left: 0;
        }
    }
    &__title-block {
        float: left;
        margin: 60px 0;
        @media all and (max-width: 991px) {
            float: none;
            margin: 40px 0;
        }
    }
    &__head-block {
        position: absolute;
        top: 35%;
        z-index: 990;
        right: 0;
        left: 0;
        clear: both;
        float: none;
        @media all and (max-width: 991px) {
            top: 30%;
        }
    }
    &__content-image {
        float: right;
        display: none;
        img {
            -webkit-box-shadow: 0px 2px 10px 1px #333333;
            -moz-box-shadow: 0px 2px 10px 1px #333333;
            box-shadow: 0px 2px 10px 1px #333333;
        }
        @media all and (max-width: 991px) {
            float: none;
            text-align: center;
        }
        img {
            width: 320px;
            max-width: 320px;
            @media all and (max-width: 1330px) {
                width: 280px;
            }
            @media all and (max-width: 1330px) {
                width: 230px;
            }
        }
    }
}
.faq-banner,
.checklist-banner,
.archives-banner,
.careers-banner,
.incoterms-banner{
    margin-bottom: 50px;
    &__image {
        min-height: 60vh;
        background-color: #005a8e;
        img {
            display: none;
        }
    }
    &__head-block {
        top:0 !important;
        height: 60vh;
        display: flex;  
        align-items: center;       
    }
    &__title-block {
        width: 100%;
        margin-top: 150px;
        @media all and (max-width: 991px) {
            margin-top: 60px;
        }
    }
}

//Additional Changes for banner headings and Subheadings in Resources pages
.faq-banner,
.checklist-banner,
.archives-banner,
.careers-banner,
.incoterms-banner {
    &__title {
        //padding-top: 60px;
        width: 100%;
        text-align: center;
    }

    &__subtitle {
        display: none;
        width: 100%;
        text-align: center;
    }
}
//Additional Changes for banner headings and Subheadings in about US, Services, Contact page
.service-banner,
.about-banner,
.contact-banner {
    &__title {
        background: rgba(0,0,0,0.15);
    }
}
//Changes for About Us and Career Pages
.about-banner {
    &__title {
        width: 300px;
        margin-bottom: 20px;
    }

    &__subtitle {
        background: rgba(0,0,0,0.15);
        padding: 0 20px;
    }
}
.careers-banner { 
    &__title {
        
        margin-bottom: 20px;
        @media all and (max-width: 400px) {
            width: 100%;
        }
    }

    &__subtitle {
        display: block;        
        padding: 0 20px;
        max-width: none;
    }
}