$primary-white: #fff;
$primary-black: #000;
$grey-text: #868686;
$blue-link: #060331;
$blue-link2: #0b045a;

.news-events-wrapper {
  background-image: linear-gradient(to bottom right, #f3f3f3, #fdfdfd);
  padding: 50px 20px 30px;
  @media all and (max-width: 767px) {
    padding: 30px 0 30px;
  }
  .block-container {
    @media all and (max-width: 767px) {
      padding: 0 15px;
    }
  }
  h2 {
    @include content-title;
    margin-bottom: 15px;
    &:after {
      display: block;
      content: "";
      width: 200px;
      border-bottom: solid 1px #e0e0e0;
      border-radius: 20px;
      margin-top: 10px;
    }
    @media all and (max-width: 768px) {
      margin-bottom: 10px;
      &:after {
        width: 150px;
      }
    }
  }
  .news-content, .events-content {
    .view-all {
      margin-bottom: 15px;
      text-align: right;
      a {
        font-size: 18px;
        font-family: Roboto-Rg;
        color: $blue-link2;
        @media all and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
  .news-slider{
    background-image: url('../images/latest-news.png');
    section {
      padding-bottom: 110px;
      @media all and (max-width: 1330px) {
        padding-bottom: 90px;
      }
      @media all and (max-width: 1024px) {
        padding-bottom: 80px;
      }
      @media all and (max-width: 991px) {
        padding-bottom: 60px;
      }
      @media all and (max-width: 768px) {
        padding-bottom: 55px;
      }
      @media all and (max-width: 480px) {
        padding-bottom: 35px;
      }
    }
  }
  .event-slider {
    background-image: url('../images/latest events.png');
    section {
      padding-bottom: 100px;
      @media all and (max-width: 1330px) {
        padding-bottom: 80px;
      }
      @media all and (max-width: 1024px) {
        padding-bottom: 70px;
      }
      @media all and (max-width: 991px) {
        padding-bottom: 50px;
      }
      @media all and (max-width: 768px) {
        padding-bottom: 45px;
      }
      @media all and (max-width: 480px) {
        padding-bottom: 25px;
      }
    }
  }
  .news-slider, .event-slider {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 90%;
    @media all and (max-width: 479px) and (min-width: 421px) {
      max-width: 360px;
      margin: 0 auto;
    }
    section {
      margin-bottom: 50px;
      @media all and (max-width: 768px) {
        margin-bottom: 30px;
      }
      .slick-list {
        .slick-track {
          .slick-slide {
            background-color: $primary-white;
            margin: 10px 8px;
            -webkit-box-shadow: 0px 2px 10px 1px rgba(184,184,184,1);
            -moz-box-shadow: 0px 2px 10px 1px rgba(184,184,184,1);
            box-shadow: 0px 2px 10px 1px rgba(184,184,184,1);
            min-height: 390px;
            // @media all and (max-width: 1330px) {
            //   min-height: 380px;
            // }
            @media all and (max-width: 767px) {
              margin: 10px 5px;
            }
            .content-block {
              .slider-image {
                display: flex;
                justify-content: center;
                height: 220px;
                overflow: hidden;
                img {
                  width: 100%;
                  display: flex;
                }
              }
              .slider-details {
                padding: 20px;
                .content-title {
                  p {
                    color: $primary-black;
                    font-size: 16px;
                    font-family: Roboto-Rg;
                    display: block;
                    display: -webkit-box;
                    height: 48px;
                    margin: 0 auto 5px;
                    line-height: 1.4;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
                .content-excerpt {
                  p {
                    font-size: 14px;
                    font-family: Roboto-Rg;
                    color: $grey-text;
                    display: block;
                    display: -webkit-box;
                    height: 46px;
                    margin: 0 auto 10px;
                    line-height: 1.5;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                }
                .content-readmore {
                  a {
                    font-size: 14px;
                    font-family: Roboto-Rg;
                    color: $blue-link2;
                  }
                }
              }
            }
          }
        }
      }
    }
    .slick-arrow {
      &.slick-prev {
        left: -75px;
        @media all and (max-width: 1480px) {
          left: -30px;
          z-index: 9
        }
        @media all and (max-width: 1370px) {
          left: -20px;
        }
      }
      &.slick-next {
        right: -75px;
        @media all and (max-width: 1480px) {
          right: -30px;
        }
        @media all and (max-width: 1370px) {
          right: -20px;
        }
      }
    }
    .slick-dots {
      bottom: 20px;
      @media all and (min-width: 768px) {
        display: none !important;
      }
      @media all and (max-width: 480px) {
        bottom: 10px;
      }

      li {
        @media all and (max-width: 420px) {
          margin: 0;
        }
        button:before {
          font-size: 40px;
          @media all and (max-width: 599px) {
            font-size: 32px;
          }
        }
      }
    }
    .slick-arrow {
      @include common-slickArrow;
    }

  }
}
