$primary-white: #fff;
$primary-black: #000;
$grey-text: #868686;
$blue-link: #060331;
$blue-link2: #0b045a;
$freight-blue: #1674ab;
.news-events-wrapper {
    background-image: linear-gradient(to bottom right, #f3f3f3, #fdfdfd);
    padding: 50px 20px 30px;
    @media all and (max-width: 767px) {
        padding: 30px 0 30px;
    }
    h2 {
        @include content-title;
        margin-bottom: 15px;
        &:after {
            display: block;
            content: "";
            width: 200px;
            border-bottom: solid 1px #e0e0e0;
            border-radius: 20px;
            margin-top: 10px;
        }
        @media all and (max-width: 768px) {
            margin-bottom: 10px;
            &:after {
                width: 150px;
            }
        }
    }
    .news-content,
    .events-content {
        .view-all {
            margin-bottom: 15px;
            text-align: right;
            a {
                font-size: 18px;
                font-family: Roboto-Rg;
                color: $blue-link2;
                @media all and (max-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }
    .news-slider {
        background-image: url('../images/latest-news.png');
        section {
            padding-bottom: 110px;
            @media all and (max-width: 1330px) {
                padding-bottom: 90px;
            }
            @media all and (max-width: 1024px) {
                padding-bottom: 80px;
            }
            @media all and (max-width: 991px) {
                padding-bottom: 60px;
            }
            @media all and (max-width: 768px) {
                padding-bottom: 55px;
            }
            @media all and (max-width: 480px) {
                padding-bottom: 35px;
            }
        }
    }
    .event-slider {
        background-image: url('../images/latest events.png');
        section {
            padding-bottom: 100px;
            @media all and (max-width: 1330px) {
                padding-bottom: 80px;
            }
            @media all and (max-width: 1024px) {
                padding-bottom: 70px;
            }
            @media all and (max-width: 991px) {
                padding-bottom: 50px;
            }
            @media all and (max-width: 768px) {
                padding-bottom: 45px;
            }
            @media all and (max-width: 480px) {
                padding-bottom: 25px;
            }
        }
    }
    .news-slider,
    .event-slider {
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: 90%;
        @media all and (max-width: 479px) and (min-width: 421px) {
            max-width: 360px;
            margin: 0 auto;
        }
        section {
            margin-bottom: 50px;
            @media all and (max-width: 768px) {
                margin-bottom: 30px;
            }
            .slick-slide,
            .news-list,
            .events-list {
                background-color: $primary-white;
                margin: 10px 8px;
                -webkit-box-shadow: 0px 2px 10px 1px rgba(184, 184, 184, 1);
                -moz-box-shadow: 0px 2px 10px 1px rgba(184, 184, 184, 1);
                box-shadow: 0px 2px 10px 1px rgba(184, 184, 184, 1);
                min-height: 390px;
                @media all and (max-width: 767px) {
                    margin: 10px 5px;
                }
                .content-block {
                    .slider-image {
                        display: flex;
                        justify-content: center;
                        height: 220px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            display: flex;
                            object-fit: cover;
                        }
                    }
                    .slider-details {
                        padding: 20px;
                        .content-title {
                            p {
                                color: $primary-black;
                                font-size: 16px;
                                font-family: Roboto-Rg;
                                display: block;
                                display: -webkit-box;
                                height: 48px;
                                margin: 0 auto 5px;
                                line-height: 1.4;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .content-excerpt {
                            p {
                                font-size: 14px;
                                font-family: Roboto-Rg;
                                color: $grey-text;
                                display: block;
                                display: -webkit-box;
                                height: 43px;
                                margin: 0 auto 10px;
                                line-height: 1.5;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                a{
                                    display: none;
                                }
                            }
                        }
                        .content-readmore {
                            a {
                                font-size: 14px;
                                font-family: Roboto-Rg;
                                color: $blue-link2;
                            }
                        }
                    }
                }
            }
        }
        .slick-arrow {
            &.slick-prev {
                left: -75px;
                @media all and (max-width: 1480px) {
                    left: -30px;
                    z-index: 9
                }
                @media all and (max-width: 1370px) {
                    left: -20px;
                }
            }
            &.slick-next {
                right: -75px;
                @media all and (max-width: 1480px) {
                    right: -30px;
                }
                @media all and (max-width: 1370px) {
                    right: -20px;
                }
            }
        }
        .slick-dots {
            bottom: 20px;
            @media all and (min-width: 768px) {
                display: none !important;
            }
            @media all and (max-width: 480px) {
                bottom: 10px;
            }
            li {
                @media all and (max-width: 420px) {
                    margin: 0;
                }
                button:before {
                    font-size: 40px;
                    @media all and (max-width: 599px) {
                        font-size: 32px;
                    }
                }
            }
        }
        .slick-arrow {
            @include common-slickArrow;
        }
    }
    .news-events-content {
        .go-back {
            margin-bottom: 25px;
            button {
                font-family: Roboto-Rg;
                font-size: 12px;
                text-transform: capitalize;
                background-color: transparent;
                color: $primary-black;
                padding: 0;
                text-decoration: underline;
                border: none;
                background-image: url('../images/left-arrow.png');
                background-repeat: no-repeat;
                background-size: 15px;
                padding-left: 20px;
                background-position: 3px 2px;
                &:hover {
                    background-color: transparent;
                }
            }
        }
        .news-event {
            &__title {
                h3.title {
                    @include content-second-title;
                    margin-bottom: 30px;
                    @media all and (max-width: 767px) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .news-events {
            &__content {
                @include content-desc;
                color: #868686;
                line-height: 23px;
                font-size: 18px;
                p {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .news-events-tags {
        clear: both;
        overflow: hidden;
        margin-top: 50px;
        .tag {
            @include content-desc;
            width: auto;
            float: left;
            color: #282828;
            border: 1px solid #eaeaea;
            background-color: #eaeaea;
            border-radius: 5px;
            padding: 7px 15px;
            margin: 10px 20px 0 0px;
            @media all and (max-width: 768px) {
                margin: 10px 10px 0 0px;
            }
            &:nth-child(1) {
                margin-left: 0;
            }
        }
    }
    .social-share {
        margin-top: 40px;
        margin-bottom: 80px;
        @media all and (max-width: 768px) {
            margin-bottom: 50px;
            margin-top: 30px;
        }
        .social-sharing {
            a {
                background-image: url(../images/news-social-icons.png);
                background-position: 0% 0%;
                width: 35px;
                height: 35px;
                margin: 0 5px 0 0;
                &.ss-button-facebook {
                    background-position: 0% 0%;
                }
                &.ss-button-twitter {
                    background-position: -39px 0%;
                }
                &.ss-button-linkedin {
                    background-position: -81px 0%;
                }
            }
        }
    }
}

// Styling for news and events listing page
.page-template-news_events,
.single-news {
    .news-events-wrapper {
        padding: 0; // extra styling for banner other than diagonally cut banner
        .news-events-banner {
            margin-bottom: 70px;
            &__image {
                transform: none;
            }
            &__head-block {
                top: 50%;
                width: 60%;
                @media all and (max-width: 991px) {
                    top: 30%;
                }
                @media all and (max-width: 768px) {
                    width: 80%;
                }
                @media all and (max-width: 600px) {
                    width: 100%;
                }
            }
            &__title-block {
                float: none;
            }
            &__title {
                width: 100%;
                text-align: center;
                margin-bottom: 20px;
            }
            &__searchBox {
                #searchform {
                    position: relative;
                    .search-text {
                        border-radius: 50px;
                        padding: 5px 20px 5px 25px;
                        height: 40px;
                        background-color: rgba(116, 162, 190, 0.6);
                        color: $primary-white;
                        border-color: rgba(116, 162, 190, 0.6);
                        font-family: Roboto-Md;
                        font-size: 16px;
                        &:-webkit-autofill {
                            background-color: #74a2be !important;
                        }
                        &::-webkit-input-placeholder {
                            /* Chrome/Opera/Safari */
                            color: #fff;
                            font-family: Roboto-Lt;
                        }
                        &::-moz-placeholder {
                            /* Firefox 19+ */
                            color: #fff;
                            font-family: Roboto-Lt;
                        }
                        &:-ms-input-placeholder {
                            /* IE 10+ */
                            color: #fff;
                            font-family: Roboto-Lt;
                        }
                        &:-moz-placeholder {
                            /* Firefox 18- */
                            color: #fff;
                            font-family: Roboto-Lt;
                        }
                    }
                    .searchBtn {
                        background-image: url(../images/search-icon-png-29.png);
                        background-repeat: no-repeat;
                        background-size: 30px;
                        width: 55px;
                        height: 40px;
                        background-position: center;
                        position: absolute;
                        top: 0;
                        right: 8px;
                        background-color: transparent;
                    }
                }
            }
        }
        .block-container {
            .news-content {
                margin-bottom: 0;
                padding-bottom: 50px;
                @media all and (max-width: 991px) {
                    padding-bottom: 30px;
                }
                @media all and (max-width: 991px) {
                    padding-bottom: 20px;
                }
            }
            .events-content {
                margin-bottom: 0;
                padding-bottom: 150px;
                @media all and (max-width: 991px) {
                    padding-bottom: 100px;
                }
                @media all and (max-width: 700px) {
                    padding-bottom: 70px;
                }
            }
            .news-slider.news-list-slider {
                padding-top: 8%;
                background-position: top;
                background-image: url('../images/news.png');
                max-width: none;
                @media all and (max-width: 700px) {
                    background-size: 150%;
                    padding-top: 14%;
                }
            }
            .event-slider.events-list-slider {
                padding-top: 8.5%;
                background-position: top;
                max-width: none;
                background-image: url('../images/events.png');
                @media all and (max-width: 700px) {
                    background-size: 150%;
                    padding-top: 14.5%;
                }
            } //news block list extra styling
            .slider {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 0;
                padding-bottom: 0;
                @media all and (max-width: 530px) {
                    justify-content: center;
                }
                .list-title {
                    flex-basis: 100%;
                    margin-bottom: 30px;
                    h3.title {
                        @include content-second-title;
                        &:after {
                            display: block;
                            content: "";
                            width: 100px;
                            border-bottom: solid 1px #e0e0e0;
                            border-radius: 20px;
                            margin-top: 10px;
                        }
                    }
                }
                .news-list,
                .events-list {
                    margin: 1% 2% 1% 0;
                    width: 23.5%;
                    @media all and (min-width: 902px) {
                        &:nth-child(4n) {
                            margin-right: 0;
                        }
                    }
                    @media all and (max-width: 901px) and (min-width: 768px) {
                        width: 31.9%;
                        &:nth-child(3n) {
                            margin-right: 0;
                        }
                    }
                    @media all and (max-width: 767px) and (min-width: 531px) {
                        width: 48.5%;
                        margin: 1% 3% 2% 0;
                        &:nth-child(2n) {
                            margin-right: 0;
                        }
                    }
                    @media all and (max-width: 530px) {
                        width: 60%;
                        max-width: 420px;
                        margin: 0 auto 20px; // margin: 10px 0px 10px 0;
                    }
                    @media all and (max-width: 480px) {
                        width: 80%;
                    }
                    @media all and (max-width: 420px) {
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
            } //loadmore button styling
            .btn-load-more {
                display: block;
                margin: 50px auto 0;
                font-family: Roboto-Rg;
                font-size: 16px;
                color: white;
                text-transform: none;
                background-color: #1674aa;
                padding: 13px 36px;
                border-radius: 40px;
                @media all and (max-width: 768px) {
                    font-size: 15px;
                    padding: 10px 34px;
                }
                &.hide {
                    display: none;
                }
            }
        }
    }
}

.single-news {
    .news-events-wrapper {
        .news-events-banner {
            margin-bottom: 50px;
        }
        .event-slider {
            background-image: none !important;
        }
    }
}

.more-posts {
  .news-content.events-content {
    .news-slider.event-slider {
      .slider {
        .other-post-block {
          margin: 1% 2% 1% 0 !important;
          &:nth-child(5n) {
            margin-right: 0 !important;
          }
          @media all and (max-width: 901px) and (min-width: 768px) {
            &:nth-child(4n) {
              margin-right: 0 !important;
            }
          }
          @media all and (max-width: 767px) and (min-width: 531px) {
            
            &:nth-child(3n) {
              margin-right: 0 !important;
            }
          }
        }
      }
    }
  }
}
